html {
  box-sizing: border-box;
  background-color: #f0eee8;
  font-family: Georgia;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  display: block;
}

.link-card {
  color: #512200;
  background-color: #dcd4cd;
}

.link-card h2 {
  font-family: Dosis, sans-serif;
}

.link-card:hover {
  background-color: #cabdb2;
}

div {
  font-family: Dosis, sans-serif;
}

.btn {
  color: #fff;
}
