html {
  box-sizing: border-box;
  background-color: #f0eee8;
  font-family: Georgia;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  font-family: Dosis, sans-serif;
}

a {
  color: #512200;
  text-decoration: none;
}

div {
  font-family: Dosis, sans-serif;
}
